@{
    var env = this.GetEnvironment();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - E=nv2</title>

    <link href="~/Content/env2/common.css?v=1" rel="stylesheet" type="text/css" />
    <link href="~/Content/env2/navigation.css?v=1" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        @RenderPage("~/_Header.cshtml")
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="env2-content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        @*@RenderPage("~/_Footer.cshtml")*@
    </footer>

    <script src="https://magicmanam.github.io/pro-js/0.3/pro.all.js"></script>
    <script src="~/Scripts/env2/app.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@using env2.Web.WebPages