@{
    var env = this.GetEnvironment();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - E=nv2</title>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/env2/common.css?v=1" rel="stylesheet" type="text/css" />
    <link href="~/Content/env2/navigation.css?v=2" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        @RenderPage("~/_Header.cshtml")
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="env2-content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        <button onclick="topFunction()" id="2-top">2 Top</button>
    </div>
    <footer>
        @*@RenderPage("~/_Footer.cshtml")*@
    </footer>

    <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.2.2/packaged/jquery.noty.packaged.min.js"></script>
    <script src="https://magicmanam.github.io/pro-js/0.3/pro.all.js"></script>
    <script src="~/Scripts/env2/app.js"></script>
    <script src="~/Scripts/env2/common/modules/tips/_.js"></script>
    <script>
        $(function () {
            @if (!string.IsNullOrWhiteSpace(Request.QueryString["env2-noty"]))
            {
                @:noty({ text: '@Request.QueryString["env2-noty"]', layout: 'topCenter', type: 'warning', timeout: 7000 });
            }

            env2.alias = '@(this.GetEnvironment()?.Alias)';
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@using env2.Web.WebPages